<h1>Measure BMI</h1>

<%= bootstrap_form_with scope: :measure, url: '/measure', local: true do |f| %>

	<%= f.text_field :height%><br>

	<%= f.text_field :weight%><br>

	<%= f.submit %>
<%end%>

<label class="mt-2"><%= @result%></label><br>
<label><%= @category%></label>
<button class="btn btn-light"><%= link_to "Go back", '/welcome', method: :get%></button>
