<h1 class="text-center mt-5">Log in</h1>

<%= bootstrap_form_tag url: '/login' do |f| %>

  <%= text_field_tag :username%>

  <%= password_field_tag :password%>

  <%= submit_tag "Log in"%>

<% end %>
<button class="btn btn-light"><%= link_to "Go back", '/welcome', method: :get%></button>
