<h1>Sign Up</h1>

<%= bootstrap_form_for(@user) do |f|%>

	<%= f.text_field :username %><br>
	
	<%= f.password_field :password%><br>

	<%= f.submit %>
<%end%>
<div class="mt-5">
  <button class="btn btn-light"><%= link_to "Go back", '/welcome', method: :get%></button>
</div>
