<!DOCTYPE html>
<html>
  <head>
    <title>BMI App</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
	  <header class="navbar navbar-fixed-top navbar-inverse">
	  <div class="container">
		  <a class="navbar-brand lead text-white" href="#">BMI App</a>
		  <nav>
			  <ul class="nav navbar-nav navbar-right">
				  <li><%= link_to "Login", '/login', method: :get, class: 'lead'%></li>
				  <li><%= link_to "Sign Up", '/users/new', method: :get, class: 'lead'%></li>
				  <li><%= link_to "Log Out", logout_path, method: :delete, class: 'lead'%></li>
			  </ul>
		  </nav>
	  </div>
	  </header>

	  <div class="container">
    		<%= yield %>
	  </div>
  </body>
</html>
